@font-face {
  font-family: Heebo;
  src: url(Heebo-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Heebo;
  src: url(Heebo-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Heebo;
  src: url(Heebo-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Heebo;
  src: url(Heebo-Regular.ttf);
  font-weight: unset;
}
@font-face {
  font-family: Heebo;
  src: url(Heebo-Medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Heebo;
  src: url(Heebo-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Heebo;
  src: url(Heebo-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Heebo;
  src: url(Heebo-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Heebo;
  src: url(Heebo-ExtraBold.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: Heebo;
  src: url(Heebo-ExtraBold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Heebo;
  src: url(Heebo-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Heebo;
  src: url(Heebo-Black.ttf);
  font-weight: 900;
}
