:host {
  mat-card {
    cursor: pointer;
    background: white;
	display: flex;
	justify-content: center;
	
    mat-card-title {
      color: rgba(0, 0, 0, 0.8);
      text-align: center;
    }

    mat-card-subtitle {
      color: rgba(0, 0, 0, 0.3);
    }

    .avatar {
      background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
      background-size: cover;
    }
  }
}
