<div class='container'>
    <div class='heading'>הרשמה</div>
    <form class='form' [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" formControlName="firstname" class="form-control" placeholder="שם פרטי" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                <div *ngIf="f.firstname.errors.required">אנא מלא את שמך</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="lastname" class="form-control" placeholder="שם משפחה" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                <div *ngIf="f.lastname.errors.required">אנא מלא את שם משפחתך</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="username" class="form-control"  placeholder='שם משתמש' [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">אנא מלא את שם המשתמש</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" formControlName="password" class="form-control" placeholder="סיסמא" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">אנא מלא סיסמא</div>
                <div *ngIf="f.password.errors.minlength">הסיסמא חייבת להכיל לפחות  {{passwordMinLength}} ספרות</div>
            </div>
        </div>
        <div class="form-group controls">
            <button [disabled]="loading" class="btn btn-primary">הירשם</button>
            <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a routerLink="/login" class="btn btn-link">בטל</a>
        </div>
    </form>
    <div class='spacer'></div>
</div>