[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pymongo = "*"
Flask = "*"
Flask-JWT-Extended = "*"
flask-cors = "*"
eventlet = "*"
flask-socketio = "*"

[requires]
python_version = "3.7"
