@import "./../../../../../color-scheme.scss";

:host {
    mat-card {
	background: $background;
	font-weight: 200;

	mat-card-content {
	    form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		.file-input {
		    display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    align-items: center;

		    p {
			margin-right: 5px;
			font-weight: 400;
		    }
		}

		.pick-submissions-title {
		    font-weight: 400;
		    font-size: 16px;
		}

		.pick-submissions {
		    display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    align-items: center;

		    font-weight: 300;
		    font-size: 14px;
		}
		
		.submit-button {
		    align-self: flex-end;
		}
	    }
	}
    }

    input {
	font-weight: 300;
    }
}
