@import "./../../../color-scheme.scss";
:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    mat-card {
	background: $background;
	margin-bottom: 40px;

	mat-card-content {
	    request-help {
		margin-right: 10px;
	    }
	}
    }
}
