<mat-card *ngIf="assignment">
  <mat-card-header>
    <mat-card-title>{{assignment.activity.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-flat-button color="accent" (click)="openFilesMenu()">צפה בקבצים</button>
    <request-help [context]="getHelpContext()"></request-help>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="assignment">
  <mat-card-header>
    <mat-card-title>הגשה:</mat-card-title>
  </mat-card-header>
  <mat-card-content [ngSwitch]="assignment.activity.type">
    <git-submission *ngSwitchCase="'git'" [submission]="assignment.submission"></git-submission>
    <!-- <file-submission *ngSwitchCase="'file'" class="extra">Git: <a href="http://github.com">http://github.com</a></file-submission> -->
  </mat-card-content>
</mat-card>

<comment-list *ngIf="assignment" [context]="getCommentContext()"></comment-list>