<div *ngIf="assignment" class="assignment">
  <div class="static-content">
    <mat-card class="description">
      <mat-card-header>
        <mat-card-title>{{assignment.activity.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-flat-button color="accent" (click)="openFilesMenu()">צפה בקבצים</button>
        <request-help [context]="getHelpContext()"></request-help>
      </mat-card-content>
    </mat-card>

    <comment-list *ngIf="assignment" [context]="getCommentContext()"></comment-list>
  </div>

  <div class="submissions">
    <mat-card class="submission" *ngFor="let submission of getSubmissions()">
      <mat-card-header>
        <mat-card-title>הגשה:</mat-card-title>
      </mat-card-header>
      <mat-card-content [ngSwitch]="submission">
        <git-submission *ngSwitchCase="'git'" [data]="assignment.activity.submissions ['git']"></git-submission>
        <file-submission *ngSwitchCase="'file'" [submission]="assignment.activity.submissions['file']"></file-submission>
        <forms-renderer *ngSwitchCase="'form'" [components]="assignment.activity.submissions['form']"></forms-renderer>
      </mat-card-content>
    </mat-card>
  </div>
</div>