:host {
    // display: block;
    // background: url('./../../../assets/login_background.png');
    // background-repeat: no-repeat;  
    // background-position: 0% 0%;
    // background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container {
        flex-direction: column;
        display: inline-block;
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    }
}