/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "./color-scheme.scss";

@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import './assets/themes/dark/dark.theme.scss';

// specify theme class eg: <body class="dark-theme"> ... </body>
.dark-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($dark-theme);
}


$direction: rtl;

* {
  font-family: Heebo;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  direction: $direction;

  input {
    direction: $direction;
  }
}
input {
  font-weight: 200;
}
