@import "./../../../color-scheme";

.k-button {
  border: 2px solid #fff;
  @include background-opacity($main-color, 0.5);
  display: inline-block;
  color: white;
  padding: 5px 12px;
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: all 0.2s;

  &:hover {
    background: $active-color;
  }

  &.disabled {
    background: red;
  }
}
