<mat-card class="event-list-card">
    <mat-card-header>
        <mat-card-title>מטלות</mat-card-title>
        <div class='spacer'></div>
        <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div class='indicators'>
                    <div [ngClass]="{'unread': true, unread: false}"></div>
                </div>
                <div class='content'>
                    <h3 class='title'>משימה קשה ראשונה</h3>
                    <p class='subtitle'>והוו</p>
                </div>
                <div class='date'>{{d}}</div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>