<mat-card class="event-list-card">
    <mat-card-header>
        <mat-card-title>מטלות</mat-card-title>
        <div class='spacer'></div>
        <div class='unread-count'>
            <span class='content'>{{unreadCount}}</span>
        </div>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let assignment of assignments">
                <div class='indicators'>
                    <div [ngClass]="getClass(assignment)"></div>
                </div>
                <div class='content'>
                    <h3 class='title'>{{assignment.name | words : 6 }}</h3>
                    <p class='subtitle'>{{assignment.description | words : 6 }}</p>
                </div>
                <div class='date'>{{assignment.date}}</div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>