<k-alert></k-alert>
<div class='nav'>
    <mat-toolbar>
        <mat-toolbar-row>
            <img class='logo' [routerLink]="['/']" src='./../../../assets/images/logo.png' />
            <div class='spacer'></div>
            <button mat-button color="warm" [routerLink]="['/assignments']">מטלות</button>
            <button mat-button color="warm" [routerLink]="['/websites']">אתרים</button>
            <button mat-button color="warm" [routerLink]="['/helps']">בקשות לעזרה</button>
            <button mat-button color="warm" [routerLink]="['/admin']">ניהול</button>
            <button mat-button color="warm" [routerLink]="['/activities']">תרגילים</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class='container'>
    <router-outlet></router-outlet>
</div>
