<mat-card class="event-list-card">
    <mat-card-header>
        <mat-card-title>ניווט</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list>
            <mat-list-item *ngFor="let link of links" [ngClass]="getClass(link)" [routerLink]="['/assignments', link.id]">
                <mat-icon matListIcon>library_books</mat-icon>
                <span matLine>{{ link.name }}</span>
            </mat-list-item>



            <mat-list-item  [routerLink]="['/assignments', 0]">
                <mat-icon matListIcon>library_books</mat-icon>
                <span matLine>test0</span>
            </mat-list-item>

            
            <mat-list-item  [routerLink]="['/assignments', 1]">
                <mat-icon matListIcon>library_books</mat-icon>
                <span matLine>test1</span>
            </mat-list-item>
            
            <mat-list-item  [routerLink]="['/assignments', 2]">
                <mat-icon matListIcon>library_books</mat-icon>
                <span matLine>test2</span>
            </mat-list-item>
            
            <mat-list-item  [routerLink]="['/assignments', 3]">
                <mat-icon matListIcon>library_books</mat-icon>
                <span matLine>test3</span>
            </mat-list-item>
            
            <mat-list-item  [routerLink]="['/assignments', 4]">
                <mat-icon matListIcon>library_books</mat-icon>
                <span matLine>test4</span>
            </mat-list-item>
            
            <mat-list-item  [routerLink]="['/assignments', 5]">
                <mat-icon matListIcon>library_books</mat-icon>
                <span matLine>test5</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-card-content>
</mat-card>