<mat-card class="event-list-card">
    <mat-card-header>
        <mat-card-title>ניווט</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list>
            <mat-list-item *ngFor="let link of links" [ngClass]="getClass(link)" [routerLink]="['/assignments', link.id]">
                <mat-icon matListIcon>library_books</mat-icon>
                <span matLine>{{ link.name }}</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-card-content>
</mat-card>