<mat-card class="assignments-matrix-card">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ag-grid-angular *ngIf="rows && headers" style="height: 500px;" class="ag ag-theme-fresh" #agGrid [rowData]="rows"
      [gridOptions]="gridOptions" (gridReady)="onGridReady($event)" [allowContextMenuWithControlKey]="true"
      [enableRangeSelection]="true" [getContextMenuItems]="getContextMenu" [columnDefs]="headers">
    </ag-grid-angular>
  </mat-card-content>
</mat-card>